body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.jumbotron {
    margin: 0;
    padding: 20px;
    /*background-color: rgb(255, 18, 0);*/
    background-color: black;
    color: white;
/*    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
}
/*h1 {*/
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
/*    text-transform: uppercase;
    font-weight: bolder;
}*/
h2 {
    font-style: italic;
    font-size: large;
    text-align: end;
    margin-bottom: 0px;
}
.navbar {
    background-color: black;
    text-transform: uppercase;
/*    padding: 0px;*/
}
.nav-brand {
    padding: 20px, 0px, 20px, 20px;
}
.dropdown {
    position: initial;
}
.dropdown-menu {
    width: 80%;
    margin-left: 10%;
    margin-top: 0px;
    border: 0px;
    background-color: lightgray;
}
/*.dropdown-item {
    color: white;
}*/

.row-content {
    padding: 50px 0;
/*    border-bottom: 1px ridge rgb(255, 18, 0);*/
    min-height: 200px;
}

.site-footer {
/*    background-color: rgb(255, 232, 0);*/
    background-image: linear-gradient(to right bottom, black,rgb(12,0,0), rgb(69,0,0));
    padding: 20px 0px;
}
h5 {
    text-transform: uppercase;
    color: white;
}
.site-footer /*ul*/ a {
/*    color: black;*/
    color: rgb(255, 232, 0);
}
.btn-social-icon .fa {
    color: white;
}
.btn-primary {
}
.site-footer .btn-danger {
    background-color: rgb(255, 18, 0);
    margin-bottom: 10px;
    color: white;
    border: 0px;
}
.site-footer .btn-danger:hover {
    background-color: rgb(200,18,0);
}
.site-copyright {
    text-align: center;
    font-size: small;
    margin-top: 20px;
}
.site-copyright a {
    color: inherit;
    text-decoration: underline;
}