body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
}

.jumbotron {
    margin: 0;
    padding: 20px;
    background-color: black;
    color: white;
}
.skipBox {
    position: absolute;
    padding: 2px 5px;
}
.skipBox:focus-within {
    background-color: white;
    color: rgb(18,18,18);
}
.skipToMainContent {
    /*display: none;*/
    padding: 0px 5px;
    text-decoration: underline;
    color: black;
}
.skipToMainContent:focus {
}
h2 {
    font-style: italic;
    font-size: large;
    text-align: end;
    margin-bottom: 0px;
}
.navbar {
    background-color: black;
}
.nav-brand {
    padding: 20px, 0px, 20px, 20px;
}
.nav-link {
    text-transform: uppercase;
}
.nav-link:hover, .nav-link:focus {
    background-color: rgb(18,18,18);
}
.dropdown {
    position: initial;
}
.dropdown-menu {
/*    width: 80%;
    margin-left: 10%;*/
    margin-top: 0px;
    border: 0px;
    background-color: white;
}
.dropdown-menu .row {
    width: inherit;
}
.col-md {
    padding: 0px;
}
.navbar-imgcard {
    margin-left: 25px;
    padding-left: 0px;
    border: 1px lightgray solid;
    color: darkgray;
}
.navbar-imgcard img {
    height: 150px;
    margin-right: 10px;
}
h5 {
    text-transform: uppercase;
}
.navbar-imgcard p {
    margin-bottom: 0px;
}
.navbar-imgcard .btn-danger {   
    background-color: rgb(255, 18, 0);
    border: 0px;
    color: white;
    margin: 3px 0px;
}
.navbar-imgcard .btn-danger:hover, .navbar-imgcard .btn-danger:focus {
    background-color: rgb(200,18,0);
    text-decoration: none;
    color: white;
}
h4 {
    font-size: large;
    margin-left: 25px;
    margin-right: 10px;
    border-bottom: 1px gray solid;
}
.dropdown-menu a {
    color: darkred;
}
.fa {
    margin-right: 6px;
}
.dropdown-menu a:hover, .dropdown-menu a:focus {
    color: darkred;
    text-decoration: underline;
}
.dropdown-item:focus {
    background-color: rgb(250,250,250);
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(to right bottom, black,rgb(12,0,0), rgb(69,0,0));
    padding: 20px 0px;
}
.site-footer h5 {
    color: white;
}
.site-footer a {
    color: rgb(255, 232, 0);
}
.site-footer a:focus {
    text-decoration: underline;
}
.btn-social-icon .fa {
    color: white;
}
.site-footer .btn-danger {
    background-color: rgb(255, 18, 0);
    margin-bottom: 10px;
    color: white;
    border: 0px;
}
.site-footer .btn-danger:hover {
    background-color: rgb(200,18,0);
}
.site-copyright {
    text-align: center;
    font-size: small;
    margin-top: 20px;
}
.site-copyright a {
    color: inherit;
    text-decoration: underline;
}