/*styles that apply to the whole page*/
body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: rgb(250, 241, 241);
}
.fa {
    margin-right: 6px;
    margin-left: 6px;
}
h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5 {
    text-transform: uppercase;
}
hr {
    border-color: darkgray;
}
table {
    border: 1px black solid;
}
table .bg-danger {
    background-image: linear-gradient(rgb(200,18,0), rgb(200,18,0));
}
th, td {
    text-align: center;
    border-left: 1px black solid;
}
.fa-check {
    color: green;
}
.fa-times {
    color: rgb(169,9,0)
}
a[download] {
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*styles that apply within the header*/
header {
    margin: 0;
    background-color: black;
    color: white;
}
.skipBox {
    z-index: 2;
    position: absolute;
    left: 2px;
    top: 2px;
    padding: 0px 2px;
}
.skipBox:focus-within {
    background-color: white;
    color: rgb(18,18,18);
}
.skipToMainContent {
    text-decoration: underline;
    color: transparent;
}
.skipToMainContent:focus {
    color:black;
}
.top-shortcuts {
    margin-top: 5px;
}
.top-shortcuts a {
    color:lightgray;
    margin-left: 10px;
    font-size: small;
    text-align: center;
}
.top-shortcuts a:focus {
    text-decoration: underline;
}
.top-shortcuts i {
    color:rgb(255, 232, 0);
}
.navbar {
    padding-top: 0px;
}
.nav-brand {
    padding: 0px, 0px, 20px, 20px;
}
@media screen and (min-width: 768px){
    .nav-item {
        min-width: max-content;
    }
}
.nav-link {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
.nav-link:hover {
    background-color: rgb(18,18,18);
}
.dropdown {
    position: initial;
}
.dropdown-menu {
    margin-top: 0px;
    border: 0px;
    background-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.dropdown-menu .row {
    width: inherit;
}
.navbar-toggler {
    margin-right: 5px;
}
.navbar-imgcard {
    margin-left: 25px;
    padding-left: 0px;
    border: 1px lightgray solid;
}
.navbar-imgcard img {
    height: 150px;
    margin-right: 10px;
}
.navbar-imgcard p {
    margin-bottom: 0px;
    font-size: smaller;
    color: rgb(96,96,96);
}
.navbar-imgcard .btn-danger {   
    background-color: rgb(200,18,0);
    border: 0px;
    color: white;
    margin: 3px 0px;
}
.navbar-imgcard .btn-danger:hover, .navbar-imgcard .btn-danger:focus {
    background-color: rgb(169,9,0);
    text-decoration: none;
    color: white;
}
h4 {
    font-size: large;
    margin-left: 25px;
    margin-right: 10px;
    border-bottom: 1px gray solid;
}
.dropdown-menu a {
    color: rgb(169,9,0);
}
.dropdown-menu a:hover, .dropdown-menu a:focus {
    color: darkred;
    text-decoration: underline;
}
.dropdown-item:focus {
    background-color: rgb(250,250,250);
}
.dropdown-item:active {
    background-color: white;
    color: rgb(169,9,0);
}

/*styles that apply within the main content*/
#mainContent {
    margin-top: 118px;
}
@media screen and (min-width: 768px){
    #mainContent {
        margin-top: 96px;
    }
}
.jumbotron {
    background-color: darkred;
    color: white;
    border-radius: 0px;
}
.jumbotron h1 {
    font-weight: bold;
}
.row-content {
    margin: 30px;
}
.row-content > p {
    font-size: large;
}
.row-content a {
    color: rgb(169,9,0);
}
.carousel-inner {
    box-shadow: 7px 5px rgba(0,0,0,.25);
}
.carousel-caption {
    background-color: rgba(0,0,0,0.67);
}
.carousel-caption a {
    color: rgb(255, 232, 0);
}
.card {
    box-shadow: 7px 5px rgba(0,0,0,.25);
    border: 2px solid black;
    border-radius: 6px;
}
.dino-card {
    margin: 15px;
    width: 500px;
    max-width: 80%;
    height: max-content;
}
.herbivore {
    border-color: darkgreen;
}
.herbivore .card-header {
    background-color: darkgreen;
}
.carnivore {
    border-color: rgb(169,9,0);
}
.carnivore .card-header {
    background-color: rgb(169,9,0);
}
.lab-card {
    margin: 15px;
    max-width: 300px;
}
.visitor-center-card {
    margin: 10px;
    max-width: 270px;
    font-size: larger;
}
.cafe-card {
    margin: 10px;
    max-width: 270px;
    height: max-content;
}
.cafe-card p {
    font-style: italic;
}
.cafe-price {
    text-align: end;
    font-size: small;
    color: green;
    margin-bottom: 0px;
}
.card-header h5 {
    margin-bottom: 0px;
}
.card-body {
    width: 100%;
}
.card img {
    margin: 0px;
    padding: 0px;
}
#mainContent .btn-danger {
    background-color: rgb(200,18,0);
    color: white;
    border: 0px;
    min-width: 150px;
}
#mainContent .btn-danger:hover {
    background-color: rgb(169,9,0);
}
.banner {
    background-color: darkred;
}
.banner h3, .banner h2 {
    color: white;
    margin: auto;
    text-align: center;
}
.banner .col-md-4 {
    padding: 10px 10px;
}
.img-shadow {
    box-shadow: 7px 5px rgba(0,0,0,0.25);
}
/*#banner-when-dinosaurs-ruled-the-earth {
    position: fixed;
    width: inherit;
    background-image: url("../img/visitor-center/when-dinosaurs-ruled-the-earth-large.png");
    opacity: 0.5;
}*/
.buy-column {
    text-align: center;
    font-size: smaller;
}
.buy-disclaimer {
    font-size: small;
    font-style: italic;
}
.buy-price {
    font-size: xx-large;
    color: green;
}
.tel-column {
    text-align: center;
    font-size: smaller;
}
.jumbo-img-container {
    padding: 0px;
    height: fit-content;
    position: relative;
}
.jumbo-img-bg {
    width: inherit;
    z-index: -1;
}
.jumbo-img-text {
    background-color: rgba(0,0,0,0.67);
    width: max-content;
    max-width: 90%;
    max-height: 500px;
    margin: auto;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
}
.jumbo-img-text a {
    color: rgb(255, 232, 0);
}
.infoAccordion .card {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px lightgray solid;
}
.infoAccordion .card-header {
    padding: 0px;
    background-color: darkred;
    color: white;
    border-radius: 2px 2px 1px 1px;
}
.infoAccordion .card-header:hover {
    background-color: rgb(169,9,0);
}
.infoAccordion .card-body {
    color: black;
}
.infoAccordion a {
    padding: auto;
}
.infoAccordion a h3, .infoAccordion a h6 {
    padding: 10px;
    margin-bottom: 0px;
}
.infoAccordion a h6 {
    font-size: larger;
    font-weight: bold;
}
.infoAccordion .card:hover a {
    text-decoration: none;
}
.infoAccordion .card-body {
    padding-bottom: 0px;
}
.infoAccordion .fa-plus, .infoAccordion .fa-minus {
    position: absolute;
    right: 9px;
    top: 13px;
}
.jobs ul {
    font-size: large;
    font-weight: bold;
}
@media screen and (min-width: 768px){
    .jobs ul {
        font-size: x-large;
    }
}
.talking-head-card {
    border: lightgray 3px solid;
    border-radius: 70px;
}
.talking-head-card .card-body {
    width: inherit;
}
.talking-head-column {
    text-align: center;
}
.talking-head {
    border-radius: 120px;
    width: 150px;
}
.blockquote {
    margin-bottom: 0px;
}
cite {
    font-size: medium;
    font-weight: bold;
}
.calendar-column {
    text-align: center;
    margin: 10px 0px;
}
.calendar-info-column {
    text-align: center;
}
.calendar-info-column h4 {
    font-weight: bold;
}
.gift-shop-column {
    font-size: larger;
}
div .download-park-map-button {
    text-decoration: none;
}
#mainContent h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*styles that apply within the footer*/
.site-footer {
    background-image: linear-gradient(to right bottom, black,rgb(12,0,0), rgb(69,0,0));
    padding: 20px 0px;
    border-top: rgb(200,18,0) solid 3px;
}
.site-footer .col-6 > div, .stay-connected > div {
    margin-left: auto;
    margin-right: auto;
}
.site-footer h5 {
    color: white;
}
.site-footer a {
    color: rgb(255, 232, 0);
}
.site-footer a:focus {
    text-decoration: underline;
}
.btn-social-icon .fa {
    color: white;
    margin: auto;
}
.site-footer .btn-danger {
    background-color: rgb(200,18,0);
    margin-bottom: 10px;
    color: white;
    border: 0px;
}
.site-footer .btn-danger:hover {
    background-color: rgb(169,9,0);
}
.site-copyright {
    text-align: center;
    font-size: small;
    margin-top: 20px;
}
.site-copyright a {
    color: inherit;
    text-decoration: underline;
}

/*styles that apply to modals */
#parkMapModal .modal-dialog {
    min-width: fit-content;
    max-width: max-content;
    height: fit-content;
    padding: 0px;
    border-radius: 10px;
}
#parkMapModal .modal-content {
    border-radius: 10px;
}
#parkMapModal .modal-body {
    padding: 0px;
}
#parkMapModal img {
    width: 1024px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
#parkMapModal button {
    position: absolute;
    top: 0px;
    left: auto;
    right: 0px;
    width: 90px;
    height: 90px;
    font-size: xx-large;
    border-radius: 7px;
}